# Google Cloud サービスアカウントのJSONキーファイルパス
GOOGLE_CREDENTIALS_PATH=./credentials/service_account.json

# 出力先スプレッドシートのID
# URL https://docs.google.com/spreadsheets/d/【ここの部分】/edit から取得
SPREADSHEET_ID=your_spreadsheet_id_here

# ワークシート名
SHEET_NAME=経費データ

# レシート画像フォルダ
RECEIPT_DIR=./receipts
